/* 메인 4개 띄워주는것. 건들지 말것*/
.MOD_FEATURE_Container {
  border-bottom: 1px solid #b9b9b9;
  background: white;
  display: block;
  text-decoration: none;
}
.MOD_FEATURE_Container:hover img {
  filter: brightness(1.2);
}

.MOD_FEATURE_Title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.MOD_FEATURE_TextContainer {
  padding: 1rem;
  height: 200px;/*박스 높이 고정*/
}

.MOD_FEATURE_Description {
  color: black;
  /*줄수 제한하기*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.MOD_FEATURE_Picture {
  display: block;
  transition: filter 0.2s;
}

body {
  font-size: 100%;
  background-color: #f1f1f1;
}


[data-layout=_r] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
[data-layout=_r] > div, [data-layout=_r] > article, [data-layout=_r] > aside {
  padding: 0 1rem 1rem 1rem;
}
[data-layout=_r] img {
  width: 100%;
  height: auto;
}

.nopadding {
  padding: 0 1rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0.5rem 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.4;
}
/*메인4개 띄워주는것 끝.*/