@charset "utf-8";
/*타이틀의 폰트 변동*/
@import
	url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
/*lecture, course의 폰트 변동*/
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');/* font-family: 'Hahmlet', serif; */
@import
	url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.background{
	background: url("https://images.unsplash.com/photo-1512580770426-cbed71c40e94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1507&q=80");
	background-size: 100% ;
	height: 100vh;
}
header{position:fixed; width: 100%; height: 60px;}

:root{
	--text-color: #f0f4f5;
	--background-color: burlywood;
	--accent-color: black;
}

*{margin: 0; padding: 0;}

.nav > a {
	color: #f0f4f5;
}

a {
text-decoration: none;
color: var(--text-color);
 }

.navbar{
	font-family: 'Noto Sans KR', sans-serif;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 12px;
	width: 100%;
	height: 50px;
    background-color: #495057;
}

.navbar_logo {
	font-size: 25px;
	color: var(--text-color);
	padding-left: 30px;
}

.navbar_logo i {
	color: var(--text-color);
}

.navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar_menu li {
	padding: 8px 45px;
	font-size: 25px;
	color: var(--text-color);
}

.navbar_menu li:hover{
	background-color:#6E6E6E;
	border-radius: 4px;
}

.navbar_account{
	display: flex;
	list-style: none;
	padding-left: 0;
}

.navbar_account li{
	padding: 8px 20px;
	color: var(--text-color);
	font-size: 25px;
}

.navbar_toggleBtn{
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: var(--accent-color);
}

@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
		height: 60%;
	}

	.navbar_menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width:100%;
	}

	.navbar_menu li{
		width: 100%;
		text-align: center;
	}

	.navbar_account{
		display: none;
		justify-content: center;
		width: 100%;
	}

	.navbar_toggleBtn{
		display: block;
	}

	.navbar_menu.active,
	.navbar_account.active {
		display: flex;
	}
}


h1 {
	text-align: center;
	font-size: 5rem;
	text-decoration-line: none;
	/*-webkit-의 경우 브라우저가 크롬일 때를 고려*/
	-webkit-background-clip: text;
	
	font-weight: bold;
}

body {
	background: #EEE;
	font-family: 'Hahmlet', serif;
}


/* 스터디만들기 */

        .create{
            margin-left:10px;
            height:40px;
            width:100px;
            border: 1px solid;
            display:inline-block;
        }
        .createBtn{
            width:100px;
            height:100%;
            border:0px;
            background:#495057;
            outline:none;
            float:right;
            color:#e9ecef;
        }
/* 스터디만들기 끝 */

/* 제목부분 */
.link{
	font-family:"courgette", cursive;
	padding-top: 100px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

/*studycreat.jsp 폼 양식 시작*/
        .tableBasic{
            margin: auto;
            text-align: center;
            border-collapse: collapse;
        }
        .tableTd, .tableTh{
            border-top: 1px solid #495057;
            border-bottom: 1px solid #495057;
        }
        .tableTh{
            background: #495057;
            color: #e9ecef;
            padding: 10px;
        }
        .ta
        .tableTd{
            background-color: #495057;
            color:black;
        }
        .tableTd input{
            border:0px;
            padding: 10px;
            outline: none;
            background: #EEE;
        }
        .mkBtn{
            margin-top:10px;
            width:75px;
            height:30px;
            border:0px;
            background:#495057;
            outline:none;
            color:#e9ecef;
        }

/*studycreat.jsp 폼 양식 끝*/

#goback{
	display: block;
	margin: 0px auto;
}
.gobackBtn{
	display: block;
	margin: 0px auto;
}