@charset "utf-8";
/*타이틀의 폰트 변동*/
@import
	url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
/*lecture, course의 폰트 변동*/
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');/* font-family: 'Hahmlet', serif; */
@import
	url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.background{
	background: url("https://images.unsplash.com/photo-1512580770426-cbed71c40e94?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1507&q=80");
	background-size: 100% ;
	height: 100vh;
}
header {
	height: 30px;
	padding: 1rem;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}
header>h3>a{
	text-decoration-line:none;
	color:white;
	font-weight:bold;
}

h1 {
	text-align: center;
	font-size: 5rem;
	text-decoration-line: none;
	/*-webkit-의 경우 브라우저가 크롬일 때를 고려*/
	-webkit-background-clip: text;
	
	font-weight: bold;
}

body {
	background: #EEE;
	font-family: 'Hahmlet', serif;
}

div {
	text-align: center;
}

.certificate {
	width: 80%;
	height: 100px;
	vertical-align: middle;
	padding: 5px;
	font-family: corbel, sans-serif;
	font-size: 14px;
	margin: auto;
	text-align: center;
}

.article {
	width: 80%;
	height: 600px;
	margin: auto;
	border-collapse: collapse;
}

td {
	border-bottom: 1px solid black;
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
	padding: 15px; /* 테두리와 내용사이 간격 */
}

th {
	height: 20px;
	border-top: 1px solid black;
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;
	padding: 15px; /* 테두리와 내용사이 간격 */
}